.cls-1 {
    fill: #4d4d4d;
}

.arm {
    transform-origin: 53%;
    transform: rotateZ(0deg);
  }

  /* object styles */


  ////classes for arm - details
  .text{
    fill:white;
    font-size:30px;
 
  }
  .arm-name{
    transform: rotate(-90deg);
    transform-origin: center center;
    font-weight:bold; 
  }

  .slaves{
    transform: rotate(-90deg);
    transform-origin: center center;
  }

  .pole{
        transform: rotate(-90deg);
    transform-origin: center center;
  }

.detector{
    transform: rotate(-90deg);
transform-origin: center center;
}

.bold{
  font-weight:bold;
}