<div class="box">
  <div class="junctionSequence">
    <div class="stage" *ngFor="let stage of junctionSequence; let stage_no = index">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="50 0 1550.17 1445.88">
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <circle class="cls-1 stroke" cx="820.41" cy="722.37" r="253.95" />

            <g class="arm" *ngFor="let arm of stage.arms; let i= index" [style.transform]="'rotate('+angle*i+'deg)'">
              <rect class="cls-1 road" x="152.36" y="655.84" width="475" height="155" />
            </g>
            <g class="arm" *ngFor="let arm of stage.arms; let i = index" [style.transform]="'rotate('+angle*i+'deg)'"
              [ngClass]="1 ? 'arms-'+stage.arms.length : ''">


             <!-- arm name -->
              <text class="text arm-name" x="720" y="130" fill="white">Arm {{i+1}}</text>
              
              <!-- slave names -->
              <text x="700" y="180" class="text slaves">Slaves :
                <tspan *ngFor="let slave of arm.slaves; let ylength = index" [attr.x]="700 + ((ylength)*50)" y="215">{{ slave }};</tspan>
              </text>

              <!-- Pole Names -->
              <text x="700" y="280" class="text pole">Poles :
                <tspan *ngFor="let pole of arm.poles; let ylength = index" [attr.x]="700 + ((ylength)*50)" y="320">{{ pole }};</tspan>
              </text>

              <!-- Detectors -->
              <text x="700" y="380" class="text detector">Detectors :
                <tspan *ngFor="let pole of arm.poles; let ylength = index" [attr.x]="700 + ((ylength)*50)" y="420">{{ pole }};</tspan>
              </text>



            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>
